body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


div {
  padding: 0px;
}

h1 {
  font-size: 2em;
}



.project-name{
  display: flex;
  align-items: baseline;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  margin-right: 10px;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #007bff;
}

.profile-photo{
  height : 200px;
  width : 200px;
  border : 1px solid black;
  border-radius : 50%;
}

.home{
  padding : 50px 250px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}
